<table class="table" style="border: 1px; border-style: solid; border-color: black;">
    <tbody>
        <tr>
            <td colspan="2" class='apptitle'>
                Component Second works!
            </td>
        </tr>
        <tr>
            <td class='apptitle'>
                <a routerLink="child1">Child 1</a>
            </td>
            <td class='apptitle'>
                <a routerLink="child2">Child 2</a>
            </td>
        </tr>
    </tbody>
</table>
<router-outlet></router-outlet>
